@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeue.otf');
}

* {
	border-radius: 0 !important;
}

input, textarea {
	border: none !important;
}

body {
	font-size: 14px;
}

h1, h2, h3 {
	font-family: 'Bebas';
}

h2 small {
	display: block;
}

.logo {
	background: url('../img/logo.png');
	width: 251px;
	height: 41px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-default {
	background-color: transparent;
	border: none;
	margin-bottom: 0;
}

.navbar {
	font-family: 'Bebas';
	font-size: 1.5em;
}

.navbar-default .navbar-nav>li {
	box-sizing: border-box;
}

.navbar-default .navbar-nav>li>a {
	padding-left: 30px;
	padding-right: 30px;
	color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
	color: #000;
	background-color: transparent;
	border-bottom: 5px solid #000;
}

.container-yellow {
	background: #eef11c;
}

#btn-service {
	background: rgba(255,255,255,.3);
}

.btn-default {
	background: transparent;
	border: 3px solid #000;
	font-size: 1.5em;
	line-height: 1em;
	font-family: 'Bebas';

}

.footer {
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 40px;
}

.footer p {
	text-align: right;
}

.footer .logo {
	margin-top: 0;
	margin-right: 0;

}

.footer h2 {
	margin-top: 0;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

